.footer {
    color: #fff;
    font-size: 14px;
}

.footer .footer-content {
    background-image: url(../img/banner_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 60px 0 30px 0;
}

.footer .footer-content::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    background: rgba(0,0,0, 0.7);
    z-index: -1;
}

.footer .footer-content .footer-info {
    margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    /* font-family: var(--font-primary); */
    color: #fff;
}

.footer .footer-content .footer-links {
    margin-bottom: 30px;
}

.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 15px;
    text-align: left;
}

.footer .footer-content h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #0ea2bd;
    bottom: 0;
    left: 0;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-content .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-content .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
}

.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}

.bi-chevron-right::before {
    content: "\f285";
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer .footer-content .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

.footer .footer-content .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

.footer .footer-content .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #0ea2bd;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}
.footer .footer-legal {
    padding: 30px 0;
    background: rgba(0, 14, 21, 1);
}
