@media only screen and (max-width: 576px) {
    #home h1 {
        font-size: 34px;
        letter-spacing: 4px;
    }

    #home h2 {
        letter-spacing: 3px;
        font-size: 24px;
        line-height: 34px;
    }

    #home h3 {
        font-size: 17px;
    }

    .faq .faq-item .image-stack .front-faq-box {
        padding: 12px;
    }

    .faq .faq-item .image-stack .front-faq-box {
        grid-row: 1;
        grid-column: 1/span 7;
    }

    .front-faq-box h4 {
        font-size: 13px;
    }

    .faq .faq-info span {
        font-size: 10px;
    }

    .faq .icon {
        padding: 1px 0 20px 0;
    }

    .faq .faq-item .contact_us, .faq .faq-item .contact_us:hover {
        font-size: 12px;
    }
}


@media only screen and (max-width: 992px) {

    /* section.bookings {
        padding: 50px 20px;
    } */
    section {
        padding: 10px;
    }

    #home {
        height: unset;
    }

    .about .about_content {
        background: #eff5f5;
        padding: 10px;
    }

    input[type=range] {
        width: 100%;
    }

    .range-slider {
        width: unset;
    }

    .section-title h2 {
        font-size: 28px;
    }

    .section-title h2:before, .section-title h2:after {
        width: 35px;
    }

    img.stay_img {
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .team .team_member .team_member-img {
        margin: 0 60px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
    img.stay_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}